.article-main {
    padding-top: 80px;
}
.article-author {
    padding: 30px;
    .article-img {
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
    .article-info {
        padding-left:130px;
        .am-icon {
            margin-left: 5px;
            width: 27px;
            vertical-align: middle;
        }

        .createdAt,
        .reply_count {
            float: right;
        }
    }
}

.article-title {
    padding: 0 50px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    h1 {
        font-size: 40px;
        // font-weight: normal;
    }
}
.article-content {
    padding: 0 50px;
    overflow: auto;
    overflow-x: hidden;

    h1,
    h2 {
        font-weight: normal;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 40px;
        
    }

    img {
        max-width: 100%;
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
            th,
            td {
                padding: 6px 13px;
                border: 1px solid #dfe2e5;
            }
            &:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: 0 1em;
        color: #6a737d;
        border-left: .25em solid #dfe2e5;
    }
    pre {
        padding: 16px;
        background-color: #f6f8fa;
    }
}